<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Origin:</strong>
    <%= booking.origin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Destination:</strong>
    <%= booking.destination %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipment date:</strong>
    <%= booking.shipment_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipment type:</strong>
    <%= booking.shipment_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= booking.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Length:</strong>
    <%= booking.length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Width:</strong>
    <%= booking.width %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Height:</strong>
    <%= booking.height %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Special instructions:</strong>
    <%= booking.special_instructions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= booking.customer_id %>
  </p>

</div>
