<div class="w-full mb-4">
  <%= link_to "New Booking", new_admin_booking_path, class: "inline-block px-6 py-3 bg-blue-600 text-white font-medium text-center rounded-lg shadow hover:bg-blue-700 transition duration-300 ease-in-out" %>
</div>

<table class="min-w-full overflow-x-scroll">
  <thead class="bg-white border-b">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.name %></td>
        <td><%= booking.customer.email %></td>
        <td><%= booking.origin %></td>
        <td><%= booking.destination %></td>
        <td><%= booking.status %></td>
        <td>
          <%= link_to "Show", admin_booking_path(booking), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          <%= link_to "Edit", edit_admin_booking_path(booking), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
          <%= button_to "Destroy", admin_booking_path(booking), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
