<div id="<%= dom_id customer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= customer.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company type:</strong>
    <%= customer.company_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Additional address:</strong>
    <%= customer.additional_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= customer.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= customer.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= customer.country %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Legal identifier type:</strong>
    <%= customer.legal_identifier_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipment reference:</strong>
    <%= customer.shipment_reference %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Admin email:</strong>
    <%= customer.admin_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Approved:</strong>
    <%= customer.approved %>
  </p>

</div>
