<%= form_with(model: [:admin, @admin_customer], local: true) do |form| %>
  <% if @admin_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @admin_customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :company_type %>
    <%= form.text_field :company_type %>
  </div>

  <div class="field">
    <%= form.label :additional_address %>
    <%= form.text_field :additional_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :legal_identifier_type %>
    <%= form.text_field :legal_identifier_type %>
  </div>

  <div class="field">
    <%= form.label :shipment_reference %>
    <%= form.text_field :shipment_reference %>
  </div>

  <div class="field">
    <%= form.label :admin_email %>
    <%= form.text_field :admin_email %>
  </div>

  <div class="field">
    <%= form.check_box :approved %>
    <%= form.label :approved, "Approved" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
