<div id="<%= dom_id(tracking) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= tracking.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= tracking.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= tracking.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Booking:</strong>
    <%= tracking.booking_id %>
  </p>

</div>
