<!DOCTYPE html>
<html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex">
      <div class="flex w-full">
        <nav class="w-64 p-4 h-screen bg-customColor sticky top-0">
          <div class="flex">
            <%= image_tag 'logo.png', class: "w-14 h-14 " %>
            <h1 class="text-xl py-4 pl-8 text-customColor2 font-mono font-bold tracking-wide hidden md:block">Admin</h1>
          </div>
          <ul class="flex flex-col text-white">
            <li>
              <%= link_to admin_blogs_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'newspaper', class: 'mr-2 text-black') %> <span class="hidden md:inline-block text-black">Blogs</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_customers_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'users', class: 'mr-2 text-black') %> <span class="hidden md:inline-block text-black">Customers</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_bookings_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'calendar-check', class: 'mr-2 text-black') %> <span class="hidden md:inline-block text-black">Bookings</span>
              <% end %>
            </li>
            <li>
            <%= link_to admin_trackings_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
              <%= icon('fa-solid', 'map-marker-alt', class: 'mr-2 text-black') %> <span class="hidden md:inline-block text-black">Tracking</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to sign out?" }, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'sign-out', class: 'mr-2 text-black') %> <span class="hidden md:inline-block text-black">Sign out</span>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="w-full p-8">
        <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
